.header {
  background: #4a148c;
  color: #f1f1f1;
  height: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  overflow: hidden;

  h1 {
    float: left;
    font-size: 24px;
    line-height: 40px;
    margin-right: 40px;
  }
}

.navigation {
  float: left;

  span {
    display: inline-block;
    line-height: 40px;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
  }
}

.active {
  background: #6a1b9a;
}
